@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.absolute(auto auto 0 auto);
  @include m.flex(flex-start, flex-start, column);
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  min-height: c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT;
  max-height: c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT;
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 80%);
  transition: all 0.4s ease-in-out;

  &.isExpanded {
    max-height: c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_MAX_HEIGHT;
  }

  .header {
    div > p > span:first-of-type {
      color: var(--c-white) !important;
    }
  }

  .content {
    @include m.fontBody1Regular;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
    color: var(--c-white);
    transition: all 0.4s ease-in-out;

    &:not(.isExpanded) {
      @include m.makeEllipsis(2);
    }

    &.isExpanded {
      padding-bottom: 32px;
      overflow: scroll;
    }
  }
}
