/* stylelint-disable media-feature-name-no-unknown */
@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

$TOP: calc(c.$S_BASE_HEADER_HEIGHT + c.$S_CATEGORY_TAB_BAR_HEIGHT);

.wrapper {
  @include m.fixed($TOP auto auto 50%);
  @include m.flex(flex-start, center, column);
  z-index: c.$Z_CATEGORY_FILTER;
  gap: 12px;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  padding: 16px c.$S_PAGE_HORIZONTAL_PADDING 27px;
  background-color: var(--c-white);
  transition: top 0.4s ease-in-out;
  transform: translateX(-50%);

  .menu {
    @include m.flex(space-between);
    width: 100%;

    .filterButton {
      @include m.fontBody1SemiBold;
      @include m.flex;
      padding: 4px 8px;
      color: var(--c-gray-800);
      background-color: var(--c-gray-150);
      border-radius: 8px;

      > svg {
        margin-right: 4px;
      }
    }

    .sortButton {
      @include m.fontBody1SemiBold;
      @include m.flex;
      padding: 4px 8px;
      color: var(--c-gray-800);
      background-color: var(--c-gray-150);
      border-radius: 8px;

      > svg {
        margin-left: 4px;
      }
    }
  }

  &.top {
    top: $TOP;
  }

  &.down {
    top: 0;
  }

  @media screen and (width >= c.$S_CATEGORY_GRID_BREAK_POINT) {
    @include m.flex(space-between, center, row);

    .menu {
      @include m.flex(flex-end);
      gap: 8px;
    }
  }
}
