/* stylelint-disable media-feature-name-no-unknown */
@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 4px;
  width: 100%;

  > li button {
    @include m.chipIcon;
  }

  @media screen and (width >= c.$S_CATEGORY_GRID_BREAK_POINT) {
    gap: 8px;
  }
}
