@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .subTitle {
    @include m.fontBody1SemiBold;
    margin: 24px 0 8px;
    color: var(--c-gray-700);
  }

  .list {
    @include m.flex(flex-start);
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;

    .checkButton {
      @include m.chipOutlined;

      &:has(input:checked) {
        @include m.chipPrimary;
      }
    }
  }
}
