@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .titleWrapper {
    @include m.flex(flex-start);
    gap: 8px;
    padding-left: c.$S_PAGE_HORIZONTAL_PADDING;

    h2 {
      @include m.fontH4SemiBold;
      color: var(--c-gray-900);
    }

    button {
      @include m.flex;
    }
  }

  .list {
    @include m.flex(flex-start);
    gap: 8px;
    padding: 8px c.$S_PAGE_HORIZONTAL_PADDING 0;

    li .tagButton {
      @include m.chipSecondary;
    }

    .loadingButton {
      @include m.chipBw;
    }
  }
}
