@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 100%;

  .item {
    margin-bottom: 32px;

    & + .item {
      padding-top: 32px;
      border-top: 2px solid var(--c-gray-150);
    }
  }
}
