@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING 200px;

  .total {
    margin-bottom: 16px;

    span {
      @include m.fontH4SemiBold;
      color: var(--c-gray-900);
    }
  }

  .checkbox {
    @include m.fontBody1Regular;
    color: var(--c-gray-900);

    & + .checkbox {
      margin-top: 8px;
    }
  }

  .submitButton {
    margin-top: 44px;
  }
}
