@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  gap: 8px;
  width: 100%;

  li {
    width: 100%;

    button {
      width: 100%;
    }

    img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }
}
