@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING 36px;

  > h2 {
    @include m.fontH1;
    color: var(--c-black);
  }

  ul {
    @include m.flex(flex-start, center, column);
    gap: 16px;
    padding-top: 32px;
  }
}
