@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  > label {
    @include m.flex(flex-start);
    width: 100%;
    padding: 16px;
    cursor: pointer;
    background-color: var(--c-gray-100);
    border-radius: 8px;

    &:has(label > input:checked) {
      background-color: var(--c-orange-bg);
      border: 1px solid var(--c-roof-orange);
    }
  }
}
