@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING 44px;

  .checkbox {
    & + .checkbox {
      margin-top: 8px;
    }

    span {
      @include m.fontBody1Regular;
    }
  }

  .total {
    margin-bottom: 16px;

    span {
      @include m.fontH4SemiBold;
    }
  }
}
