@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  > h2 {
    @include m.fontH3SemiBold;
    margin-bottom: 6px;
    color: var(--c-black);
  }

  .description {
    @include m.fontCaption;
    display: inline-block;
    margin-bottom: 24px;
    color: var(--c-gray-500);
  }
}
