@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fontH4Regular;
  position: relative;
  width: max-content;
  min-width: 80px;
  padding: 8px;
  color: var(--c-gray-400);
  white-space: nowrap;
  border-bottom: 2px solid transparent;

  &.active {
    @include m.fontH4SemiBold;
    color: var(--c-gray-900);
    border-bottom: 2px solid var(--c-roof-orange);
  }
}
