@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  display: inline-block;
  padding: 8px 12px;
  font-weight: 500;
  color: var(--c-gray-100);
  cursor: pointer;
  background-color: var(--c-roof-orange);
  border: 0;
  border-radius: 8px;
  outline: none;
}
