@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  height: 100dvh;

  .backgroundImage {
    @include m.absolute(0 0 0 0);
    object-fit: cover;
  }

  > main {
    @include m.absolute(0 0 0 0);
    @include m.flex(flex-start, center, column);
    width: 100%;
    height: 100%;
    padding: 196px c.$S_PAGE_HORIZONTAL_PADDING 80px;

    .slogan {
      @include m.fontH4Regular;
      margin-top: 26px;
      color: var(--c-gray-200);
    }
  }
}
