@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_HEADER;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_BASE_HEADER_HEIGHT;
  padding: 18px calc(c.$S_PAGE_HORIZONTAL_PADDING / 2) 10px;
  background-color: var(--c-white);
  transform: translateX(-50%);

  .title {
    @include m.fontH3SemiBold;
    @include m.posCenter;
    color: var(--c-black);
    transform: translate(-50%, calc(-50% + 4px));
  }

  .helpWrapper {
    @include m.flex(flex-start);
    @include m.fontCaptionSemiBold;
    gap: 4px;
    color: var(--c-gray-500);
  }
}
