@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .list {
    @include m.flex(flex-start);
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;

    .checkButton {
      @include m.chipOutlined;

      &.active {
        @include m.chipPrimary;
      }
    }
  }
}
