@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  @include m.fixed(50% auto auto 50%);
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  transform: translate(-50%, -50%);

  .link {
    display: inline-block;
    margin-top: 32px;
  }

  .text {
    @include m.fontButton1;
    width: 100%;
    color: var(--c-gray-600);
    text-align: center;
  }
}
