@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex;
  @include m.fontBody1Regular;
  gap: 6px;
  white-space: nowrap;

  &.isBold {
    @include m.fontBody1SemiBold;
  }

  &.primary {
    color: var(--c-roof-orange);
  }

  &.secondary {
    color: var(--c-gray-600);
  }
}
