@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fontH4Regular;
  position: relative;
  width: max-content;
  padding: 8px;
  color: var(--c-gray-400);
  white-space: nowrap;
  border-bottom: 2px solid transparent;

  // &::before {
  //   @include m.absolute(auto auto 0 50%);
  //   z-index: 1;
  //   display: block;
  //   width: 100%;
  //   height: 2px;
  //   content: "";
  //   background-color: var(--c-gray-250);
  //   transform: translateX(-50%);
  // }

  // &:first-of-type::before {
  //   width: calc(100% + 24px);
  //   transform: translateX(calc(-50% - 12px));
  // }

  // &:last-of-type::before {
  //   width: 100vw;
  // }

  &.active {
    @include m.fontH4SemiBold;
    color: var(--c-gray-900);
    border-bottom: 2px solid var(--c-roof-orange);
  }

  &.active::after {
    // @include m.absolute(auto auto 0 50%);
    // z-index: 1;
    // display: block;
    // width: 100%;
    // height: 2px;
    // content: "";
    // background-color: var(--c-roof-orange);
    // transform: translateX(-50%);
  }
}
