@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_HEADER;
  width: 100%;
  height: c.$S_SPACE_DETAIL_HEADER_HEIGHT;
  padding: 26px 16px 10px 12px;
  background-color: black;
  transform: translateX(-50%);
}
