@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 2px 12px;
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
  margin-bottom: 20px;

  .spaceTitle {
    @include m.flex(flex-start);
    @include m.fontButton1;
    gap: 2px;
    width: 100%;
    color: var(--c-black);

    > button {
      @include m.flex;
      width: 28px;
      height: 28px;
    }
  }

  .settings {
    @include m.flex;
    width: 40px;
    height: 40px;
  }

  .info {
    @include m.flex(flex-start);
    gap: 8px;
    width: 100%;

    .createdAt {
      @include m.fontCaption;
      color: var(--c-gray-600);
    }
  }
}
