@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .titleWrapper {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    margin-bottom: 20px;
  }
}
