@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 8px;
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
  margin-top: 16px;

  .tag {
    @include m.chipOutlined;
  }
}
