@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(50% auto auto 50%);
  @include m.flex(center, center, column);
  transform: translate(-50%, -50%);

  @include m.mobileOnly {
    margin-top: 60px;
  }

  .searchEmptyImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 44px;
  }

  .title {
    @include m.fontButton1;
    margin-bottom: 8px;
    color: var(--c-gray-600);
  }

  .description {
    @include m.fontCaption;
    color: var(--c-gray-600);
  }
}
