@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding-left: c.$S_PAGE_HORIZONTAL_PADDING;

  h2 {
    @include m.fontH4SemiBold;
    margin-bottom: 8px;
    color: var(--c-gray-900);
  }

  .list {
    @include m.flex(flex-start);
    gap: 8px;
    padding: 8px c.$S_PAGE_HORIZONTAL_PADDING 0 0;

    li {
      @include m.flex;
      gap: 8px;
      width: max-content;
      padding: 6px 12px;
      background-color: var(--c-gray-150);
      border-radius: 24px;

      .tagButton {
        width: max-content;
        white-space: nowrap;
      }

      .deleteButton {
        @include m.flex;
        width: 16px;
        height: 24px;
      }
    }
  }
}
