@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 24px;
  margin-top: 72px;
  background-color: var(--c-gray-100);

  h2 {
    @include m.flex(flex-start);
    @include m.fontH3SemiBold;
    width: 100%;
    margin-bottom: 12px;
    color: var(--c-gray-900);

    strong {
      color: var(--c-roof-orange);
    }
  }

  p {
    @include m.fontCaptionLh170;
    margin-bottom: 16px;
    color: var(--c-gray-700);
  }
}
