@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  width: 100%;
  padding: 16px 6px 16px 16px;
  cursor: pointer;
  background: var(--c-white);
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 15%);

  .info {
    @include m.flex(flex-start, flex-start, column);

    .percent {
      margin-bottom: 12px;
    }

    .name {
      @include m.fontH4SemiBold;
      margin-bottom: 8px;
      color: var(--c-black);
    }

    .bottom {
      @include m.flex(flex-start);

      .dueDays {
        @include m.fontCaptionSemiBold;
        color: var(--c-roof-orange);
      }

      .time {
        @include m.fontCaptionSemiBold;
        color: var(--c-gray-500);

        &::before {
          margin: 0 8px;
          content: "•";
        }
      }
    }
  }

  .radioWrapper {
    @include m.flex;
    width: 40px;
    height: 40px;

    > input {
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      background-color: var(--c-white);
      border: 1.5px solid var(--c-roof-orange);
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px var(--c-white);
      transition: all 0.2s ease-in-out;
      appearance: none;

      &:checked {
        background-color: var(--c-roof-orange);
      }
    }
  }
}
