@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.calendarWrapper {
  flex: 1;
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
  padding-bottom: 8px;
  overflow-y: scroll;
  border-bottom: 1px solid var(--c-gray-150);
}
