@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);

  .header {
    @include m.flex(space-between);
    width: 100%;
    padding: 18px 8px 2px;

    h1 {
      @include m.makeEllipsis;
      @include m.fontH3SemiBold;
      flex: 1;
      justify-self: center;
      padding-left: 44px;
      color: var(--c-black);
      text-align: center;
    }

    .closeButton {
      justify-self: flex-end;
      width: 44px;
      height: 44px;
    }
  }

  &.isHeightMax {
    height: c.$S_BOTTOM_SHEET_MAX_HEIGHT;
  }

  &.isHeightMin {
    height: c.$S_BOTTOM_SHEET_MIN_HEIGHT;
  }

  .content {
    flex: 1;
    width: 100%;
    padding: c.$S_PAGE_HORIZONTAL_PADDING;
    overflow-y: scroll;
  }
}
