@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  padding-top: 8px;

  .header {
    @include m.flex(space-between);
    width: 100%;
    padding: 2px 8px;

    h1 {
      @include m.makeEllipsis;
      @include m.fontH4SemiBold;
      flex: 1;
      justify-self: center;
      padding-left: 44px;
      color: var(--c-black);
      text-align: center;
    }

    .closeButton {
      justify-self: flex-end;
      width: 44px;
      height: 44px;
    }
  }

  .content {
    flex: 1;
    width: 100%;
    padding: c.$S_PAGE_HORIZONTAL_PADDING;
    overflow-y: scroll;
  }
}
