@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  .title {
    @include m.fontH3SemiBold;
    margin-bottom: 8px;
    color: var(--c-black);
  }

  .dateInfo {
    @include m.fontBody1Regular;
    display: inline-block;
    margin-bottom: 32px;
    color: var(--c-gray-600);

    > time {
      margin-left: 4px;
    }
  }

  .couponPrice {
    @include m.fontBody1SemiBold;
    color: var(--c-roof-orange);
  }

  .receiptButton {
    margin-top: 32px;
  }
}
