@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 2px;

  svg {
    transform: scale(var(--scale));
  }

  .score {
    @include m.fontH4SemiBold;
    color: var(--c-gray-900);
  }

  .reviewCount {
    @include m.fontH4Regular;
    color: var(--c-gray-600);
  }

  &.small {
    .score {
      @include m.fontBody1SemiBold;
    }

    .reviewCount {
      @include m.fontBody1Regular;
    }
  }
}
