$C_BLACK: #000000;

// NOTE: PRIMARY
$C_PRIMARY_DEFAULT: #1d8eff;
$C_PRIMARY_DARK: #191f28;
$C_PRIMARY_LIGHT: #f8f9fa;
$C_PRIMARY_BLACK: #111111;
$C_PRIMARY_WHITE: #ffffff;
$C_PRIMARY_ACTIVE: #0e53b4;
$C_PRIMARY_DISABLED: #a3caff;

// NOTE: SECONDARY
$C_SECONDARY_DEFAULT: #6b7583;
$C_SECONDARY_DARK_1: #8b94a1;
$C_SECONDARY_DARK_2: #cbd1dc;
$C_SECONDARY_LIGHT: #f8f9fa;
$C_SECONDARY_LIGHT_BLUE: #eaf3fe;

// NOTE: GRAY
$C_GRAY_1: #434343;
$C_GRAY_2: #7c7c7c;
$C_GRAY_3: #8d8d8d;
$C_GRAY_4: #b9b9b9;
$C_GRAY_5: #e1e1e1;
$C_GRAY_6: #f1f1f3;

// NOTE: TEXT
$C_TEXT_TITLE: #1d8eff;
$C_TEXT_DEFAULT: #191f28;
$C_TEXT_UNSELECTED: #6b7583;
$C_TEXT_CAPTION: #8b94a1;
$C_TEXT_DISABLED: #dee2e6;

// NOTE: Button
$C_BUTTON_TITLE: #1d8eff;
$C_BUTTON_DEFAULT: #0e53b4;
$C_BUTTON_UNSELECTED: #a3caff;
$C_BUTTON_CAPTION: #eaf3fe;
$C_BUTTON_DISABLED: #dee2e6;

// NOTE: STATE
$C_STATE_SUCCESS: #1d8eff;
$C_STATE_INFO: #b9d1f0;
$C_STATE_WARNING: #fcc132;
$C_STATE_ERROR: #ff5a4f;
