@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(auto auto 0 50%);
  @include m.flex(space-around);
  z-index: c.$Z_BOTTOM_NAVIGATION;
  width: 100%;
  height: c.$S_BOTTOM_NAVIGATION_HEIGHT;
  padding: 8px 0 22px;
  transform: translateX(-50%);

  .item {
    @include m.flex(flex-start, center, column);
  }
}
