@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(auto auto 0 50%);
  z-index: c.$Z_BOTTOM_NAVIGATION;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_BOTTOM_NAVIGATION_HEIGHT;
  padding: 8px 0 22px;
  background-color: var(--c-white);
  filter: drop-shadow(0 -2px 4px rgba(0, 0, 0, 20%));
  transition: bottom 0.4s ease-in-out;
  transform: translateX(-50%);

  &:not(.isWebview) {
    &.up {
      bottom: 0;
    }

    &.down {
      bottom: -100%;
      filter: none;
    }
  }

  nav {
    @include m.flex(space-around);
    width: 100%;
    height: 100%;

    .item {
      @include m.flex(flex-start, center, column);
      @include m.fontCaption;
      color: var(--c-gray-400);

      &.isActive {
        @include m.filterRoofOrange;
        color: var(--c-roof-orange);
      }
    }
  }
}
