@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;

  .totalDd {
    @include m.fontButton1;
    padding-top: 16px;
    margin-top: 12px;
    border-top: 1px solid var(--c-gray-200);
  }

  .dd {
    & + .dt + .dd {
      margin-top: 12px;
    }
  }

  .dt {
    & + .dd + .dt {
      margin-top: 12px;
    }
  }

  .totalDt {
    padding-top: 16px;
    margin-top: 12px;
    border-top: 1px solid var(--c-gray-200);
  }

  .bottomDt,
  .bottomDd {
    margin-top: 12px;
  }
}
