@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fontBody1Medium;
  padding: 8px;
  color: var(--c-black);
  caret-color: var(--c-roof-orange);

  &::placeholder {
    color: var(--c-gray-400);
  }
}
