@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  > h2 {
    @include m.fontH3SemiBold;
    margin-bottom: 6px;
    color: var(--c-black);
  }

  .description {
    @include m.fontCaption;
    color: var(--c-gray-500);
  }

  .listWrapper {
    width: 100%;
    padding: 24px 0;

    & + .listWrapper {
      border-top: 1px solid var(--c-gray-200);
    }

    > h3 {
      @include m.flex(flex-start);
      @include m.fontH4SemiBold;
      gap: 8px;
      color: var(--c-gray-900);

      small {
        @include m.fontCaption;
        color: var(--c-gray-500);
      }
    }

    .list {
      margin-top: 12px;

      li + li {
        margin-top: 8px;
      }
    }
  }
}

.hr {
  margin-top: 8px !important;
}
