@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .top {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
    margin-bottom: 16px;

    .small {
      @include m.fontBody1SemiBold;
      margin-bottom: 4px;
      color: var(--c-roof-orange);
    }

    .title {
      @include m.flex(flex-start);
      gap: 10px;
      margin-bottom: 16px;

      span {
        color: var(--c-roof-orange);
      }
    }
  }

  .imageList {
    @include m.flex(flex-start);
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;

    .imageWrapper {
      width: 200px;
      height: 275px;
      border-radius: 4px;

      img {
        object-fit: cover;
        border-radius: 4px;
      }

      &:first-of-type {
        margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
      }

      &:last-of-type {
        margin-right: c.$S_PAGE_HORIZONTAL_PADDING;
      }
    }

    .emptyImage {
      width: 200px;
      height: 275px;
      margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
      background: rgba(0, 0, 0, 50%);
      border-radius: 4px;
    }
  }
}
