@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  position: relative;
  width: calc(100% - 2 * c.$S_PAGE_HORIZONTAL_PADDING);
  height: 4px;
  margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
  background-color: var(--c-gray-250);

  .progress {
    @include m.posCenterY;
    height: 100%;
    background-color: var(--c-roof-orange);
  }
}
