@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: calc(100% - 2 * c.$S_PAGE_HORIZONTAL_PADDING);
  margin-top: 40px;
  margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
}
