@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.title {
  @include m.fontH3SemiBold;
  width: calc(100% - 2 * c.$S_PAGE_HORIZONTAL_PADDING);
  padding: 44px 0 16px;
  margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
  color: var(--c-black);
  border-bottom: 1px solid var(--c-gray-200);
}

.wrapper {
  width: 100%;
  padding: 16px c.$S_PAGE_HORIZONTAL_PADDING 0;
}
