@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  width: 100%;
  height: c.$S_BASE_HEADER_HEIGHT;
  padding: 50px calc(c.$S_PAGE_HORIZONTAL_PADDING / 2) 10px;
  background-color: var(--c-white);

  h2 {
    @include m.fontH4SemiBold;
    color: var(--c-black);
  }

  .menuButton {
    justify-self: flex-end;
  }
}
