@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  width: 100%;
  padding: 80px c.$S_PAGE_HORIZONTAL_PADDING 20px;
  background-color: var(--c-gray-150);

  .top {
    display: grid;
    grid-template-columns: 1fr 60px;
    row-gap: 12px;
    width: 100%;
    margin-bottom: 36px;

    h1 {
      @include m.fontH2;
      color: var(--c-black);
    }

    .thumbnail {
      border-radius: 50%;
    }

    .emptyImage {
      width: 60px;
      height: 60px;
      background-color: var(--c-gray-200);
      border-radius: 50%;
    }

    .email {
      @include m.fontBody1Regular;
      @include m.flex(flex-start);
      gap: 4px;
      color: var(--c-gray-700);
    }
  }

  .countInfoList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;

    .item {
      @include m.flex(flex-start, center, column);
      gap: 4px;
      width: 100%;

      > svg {
        width: 22px;
        height: 22px;
      }

      .name {
        @include m.flex(flex-start);
        @include m.fontBody1Medium;
        gap: 4px;
        color: var(--c-gray-500);

        .count {
          @include m.fontH4SemiBold;
          color: var(--c-gray-800);
        }
      }
    }
  }
}
