:root {
  // NOTE: Primary
  --c-roof-orange: #eb4824;

  // NOTE: GrayScale
  --c-white: #ffffff;
  --c-gray-100: #fafafa;
  --c-gray-150: #f5f5f5;
  --c-gray-200: #eeeeee;
  --c-gray-250: #e0e0e0;
  --c-gray-300: #d6d6d6;
  --c-gray-400: #bdbdbd;
  --c-gray-500: #9e9e9e;
  --c-gray-600: #757575;
  --c-gray-700: #616161;
  --c-gray-800: #424242;
  --c-gray-900: #212121;
  --c-black: #000000;
}
