@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(0 auto auto 50%);
  @include m.flex;
  z-index: c.$Z_HEADER;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_SEARCH_HEADER_HEIGHT;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING 0 calc(c.$S_PAGE_HORIZONTAL_PADDING / 2);
  transform: translateX(-50%);

  .backButton {
    @include m.flex;
    width: 40px;
    height: 40px;
  }

  .searchInput {
    flex: 1;
  }
}
