@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  height: c.$S_BOTTOM_SHEET_MAX_HEIGHT;

  .content {
    padding-top: 32px;

    ul {
      @include m.flex(flex-start, flex-start);
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 16px;
    }

    p {
      @include m.fontBody1Regular;
      color: var(--c-gray-900);
      white-space: pre-wrap;
    }
  }
}
