@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);

  ul {
    @include m.flex(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
  }

  p {
    @include m.fontBody1Regular;
    color: var(--c-gray-900);
  }
}
