@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  flex: 1;
  gap: 16px;
  width: 100%;
  padding: 16px c.$S_PAGE_HORIZONTAL_PADDING 40px;
  overflow-y: scroll;
}
