@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 48px !important;
  overflow-y: auto;

  form {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    height: 100%;

    .footer {
      display: grid;
      grid-template-columns: 5fr 11fr;
      gap: 8px;
      width: 100%;
      padding: 16px c.$S_PAGE_HORIZONTAL_PADDING 0;
      background-color: var(--c-white);
      border-top: 1px solid var(--c-gray-250);

      button {
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}
