@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  gap: 24px;
  width: 100%;
  padding: 44px 0 32px;
  border-bottom: 4px solid var(--c-gray-150);

  .header {
    @include m.flex(space-between);
    @include m.fontH3SemiBold;
    gap: 12px;
    width: 100%;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

    h2 {
      @include m.makeEllipsis;
      @include m.fontH3Medium;
      flex: 1;
      color: var(--c-black);

      span {
        @include m.fontH3SemiBold;
        color: var(--c-roof-orange);
      }
    }
  }

  .list {
    @include m.flex(flex-start, flex-start);
    gap: 16px;
    width: 100%;
    padding-right: c.$S_PAGE_HORIZONTAL_PADDING;

    li:first-of-type {
      margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
    }
  }
}
