@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  h2 {
    @include m.fontH4SemiBold;
    padding-left: c.$S_PAGE_HORIZONTAL_PADDING;
    color: var(--c-gray-900);
  }

  .list {
    @include m.flex(flex-start, flex-start);
    gap: 16px;
    width: 100%;
    padding: 8px c.$S_PAGE_HORIZONTAL_PADDING 0;
  }
}
