@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(calc(50% + c.$S_BASE_HEADER_HEIGHT) auto auto 50%);
  @include m.flex(flex-start, center, column);
  transform: translate(-50%, -50%);

  .text {
    @include m.fontButton1;
    margin-bottom: 32px;
    color: var(--c-gray-600);
  }
}
