@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 16px c.$S_PAGE_HORIZONTAL_PADDING;

  .text {
    @include m.fontCaption;
    color: var(--c-gray-500);

    .info {
      @include m.fontCaptionSemiBold;
      color: var(--c-roof-orange);
    }
  }

  .br {
    display: inline-block;
    margin: 2px 0;
  }
}
