@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  position: fixed;
  top: c.$S_BASE_HEADER_HEIGHT;
  left: 50%;
  z-index: c.$Z_HEADER;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_MY_REVIEW_TAB_BAR_HEIGHT;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
  background-color: var(--c-white);
  border-bottom: 2px solid var(--c-gray-250);
  transform: translateX(-50%);

  .item {
    @include m.flex;
    @include m.fontH4SemiBold;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    color: var(--c-gray-500);
    border-bottom: 2px solid transparent;

    &.active {
      color: var(--c-gray-900);
      border-bottom: 2px solid var(--c-roof-orange);

      .count {
        color: var(--c-roof-orange);
      }
    }
  }
}
