@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 100%;

  .header {
    @include m.flex(flex-start, flex-start, column);
    gap: 8px;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

    small {
      @include m.fontCaption;
      color: var(--c-gray-500);
    }
  }

  ul {
    @include m.flex(flex-start, flex-start, column);
    gap: 4px;
    width: 100%;
    margin: 4px 0;
  }

  .link {
    margin-right: c.$S_PAGE_HORIZONTAL_PADDING;
    margin-left: auto;
  }
}
