@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .top {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;
    margin-bottom: 16px;

    .small {
      @include m.fontBody1SemiBold;
      margin-bottom: 4px;
      color: var(--c-roof-orange);
    }

    .title {
      @include m.flex(flex-start);
      gap: 10px;

      span {
        color: var(--c-roof-orange);
      }
    }
  }
}
