@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .button {
    width: 100%;
    height: 44px;

    .checkbox {
      @include m.flex(space-between, center, row-reverse);
      width: 100%;

      &:has(input:checked) {
        span {
          color: var(--c-gray-900);
        }
      }

      span:last-of-type {
        @include m.fontH4SemiBold;
      }
    }
  }
}
