@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  .buildings {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    margin-top: 18px;

    .building {
      @include m.flex(flex-start);
      gap: 16px;
      width: 100%;
      padding: 9px 8px;

      span {
        @include m.fontBody1Regular;
        flex: 1;
        color: var(--c-gray-600);
      }
    }
  }
}
