@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  @include m.fontBody1Regular;
  width: 100%;
  padding: 6px 8px;
  color: var(--c-gray-600);

  .iconWrapper {
    @include m.flex;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 3.75px 6.25px 3.75px 2.5px;
    margin-right: 16px;

    .floor {
      @include m.absolute(auto 0 0 auto);
      @include m.fontH4SemiBold;
      color: var(--c-gray-600);
    }
  }

  .space {
    @include m.flex;
  }

  .label {
    @include m.flex;

    &::after {
      display: inline-block;
      width: 2px;
      height: 2px;
      margin: 0 4px;
      content: "";
      background-color: var(--c-gray-400);
      border-radius: 50%;
    }
  }

  .multiSpace {
    @include m.flex;

    & + .multiSpace::before {
      display: inline-block;
      width: 1px;
      height: 16px;
      margin: 0 8px;
      content: "";
      background-color: var(--c-gray-500);
    }
  }
}
