/* stylelint-disable media-feature-name-no-unknown */
@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.fixed(c.$S_BASE_HEADER_HEIGHT auto auto 50%);
  @include m.flex(flex-start, center, column);
  z-index: c.$Z_SPACE_FILTER;
  gap: 12px;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  padding: 16px c.$S_PAGE_HORIZONTAL_PADDING 27px;
  background-color: var(--c-white);
  transition: top 0.5s ease-in-out;
  transform: translateX(-50%);

  .menu {
    @include m.flex(space-between);
    width: 100%;

    .filterButton {
      @include m.chipFilter;
    }

    .sortButton {
      @include m.chipFilter;
    }
  }

  &.top {
    top: c.$S_BASE_HEADER_HEIGHT;
  }

  &.down {
    top: -100%;
  }

  @media screen and (width >= c.$S_SPACE_GRID_BREAK_POINT) {
    display: grid;
    grid-template-columns: 1fr max-content;

    .menu {
      @include m.flex(flex-end);
      gap: 8px;
    }
  }
}
