@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100dvh;
  padding: c.$S_PAGE_HORIZONTAL_PADDING;

  h1 {
    @include m.fontH1;
    color: var(--c-gray-900);
  }

  button {
    margin-top: 40px;
  }
}
