@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  .image {
    width: 94px;
    height: 74px;
    margin-bottom: 40px;
    margin-left: 16px;
    object-fit: contain;
  }

  .title {
    @include m.fontH3SemiBold;
    margin-bottom: 12px;
    color: var(--c-black);
  }

  .desc {
    @include m.fontBody1Medium;
    color: var(--c-gray-500);
    text-align: center;
  }
}
