@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  .openHours {
    @include m.flex(flex-start, flex-start, column);
    gap: 4px;
    margin-top: 20px;

    > li {
      @include m.fontBody1Regular;
      color: var(--c-gray-800);

      > .time {
        margin-left: 16px;
      }
    }
  }

  h3 {
    @include m.fontBody1SemiBold;
    color: var(--c-gray-800);
  }

  .holidayTitle {
    margin-top: 24px;
  }

  .holidays {
    @include m.flex(flex-start, flex-start, column);
    gap: 4px;
    padding-top: 4px;

    > li {
      @include m.fontBody1Regular;
      color: var(--c-gray-800);

      > .day {
        margin-left: 16px;
      }
    }
  }
}
