@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex;
  width: 100%;

  button {
    @include m.flex;
    @include m.fontH4SemiBold;
    width: 40px;
    height: 40px;
    color: var(--c-gray-900);
    border-radius: 50%;

    &.active {
      color: var(--c-white);
      background-color: var(--c-roof-orange);
    }

    &.isHoliday {
      color: var(--c-roof-orange);
    }

    &:disabled {
      color: var(--c-gray-400);
      text-decoration: line-through;
    }

    &.isBeforeToday {
      color: var(--c-gray-400);
    }

    .time {
      @include m.fontH4SemiBold;
      color: inherit;
    }
  }
}
