@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  width: 100%;
  margin: 16px 0 24px;

  .yearMonth {
    @include m.fontBody1SemiBold;
    margin-bottom: 24px;
    color: var(--c-gray-600);
  }

  .dayList {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
  }
}
