@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .reviewList {
    width: 100%;

    > li {
      padding-bottom: 24px;

      &::before {
        display: block;
        width: calc(100% - 2 * c.$S_PAGE_HORIZONTAL_PADDING);
        height: 2px;
        margin-bottom: 24px;
        margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
        content: "";
        background-color: var(--c-gray-150);
      }
    }
  }
}
