@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  height: calc(100dvh - c.$S_BASE_HEADER_HEIGHT);
  background-color: var(--c-black);

  .slider {
    width: 100%;
    height: calc(100dvh - c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT - c.$S_BASE_HEADER_HEIGHT);
    padding-top: calc(c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT - c.$S_BASE_HEADER_HEIGHT);

    .imageWrapper {
      position: relative;
      width: 100%;
      height: calc(100dvh - 2 * c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT);

      img {
        object-fit: cover;
      }
    }

    .arrow {
      @include m.absolute(50% c.$S_PAGE_HORIZONTAL_PADDING auto auto);
      @include m.flex;
      z-index: 1;
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, 50%);
      border-radius: 50%;

      &.left {
        right: auto;
        left: c.$S_PAGE_HORIZONTAL_PADDING;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .skeleton {
    height: calc(100dvh - 2 * c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT);
    margin-top: calc(c.$S_REVIEW_IMAGE_BOTTOM_REVIEW_HEIGHT - c.$S_BASE_HEADER_HEIGHT);
    border-radius: 0;
  }
}
