@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 6px;
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  .codeWrapper {
    @include m.flex(flex-start);
    @include m.fontBody1SemiBold;
    gap: 4px;
    color: var(--c-gray-500);

    > .code {
      color: var(--c-roof-orange);
    }
  }

  .title {
    @include m.fontH2;
    color: var(--c-black);
    white-space: pre-wrap;
  }

  .loadingTitle {
    @include m.flex(flex-start, flex-start, column);
    gap: 2px;
  }

  &.isRefunding {
    @include m.flex(flex-start, flex-start, column);
  }
}
