@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 32px c.$S_PAGE_HORIZONTAL_PADDING;
  background-color: var(--c-orange-bg);

  .title {
    @include m.fontH3SemiBold;
    margin-bottom: 32px;
    color: var(--c-black);
  }

  .totalDd {
    @include m.fontBody1Medium;
    color: var(--c-gray-900);
  }

  .refundPriceDd {
    color: var(--c-roof-orange);
  }
}
