@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 32px c.$S_PAGE_HORIZONTAL_PADDING;
  background-color: var(--c-orange-bg);

  .title {
    @include m.fontH3SemiBold;
    color: var(--c-black);
  }

  .canceledAt {
    @include m.fontBody1Regular;
    display: inline-block;
    margin-top: 8px;
    color: var(--c-gray-600);
  }

  .table {
    margin-top: 32px;
  }

  .totalDd {
    @include m.fontBody1Medium;
    color: var(--c-gray-900);
  }

  .refundPriceDd {
    @include m.fontBody1SemiBold;
    color: var(--c-roof-orange);
  }

  .refundStatusDd {
    @include m.fontButton1;
  }
}
