@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  .spaceList {
    @include m.flex(flex-start, flex-start, column);
    gap: 24px;

    /* stylelint-disable-next-line media-feature-name-no-unknown */
    @media screen and (width >= c.$S_SPACE_GRID_BREAK_POINT) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }
  }
}
