@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 100%;

  .titleWrapper {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    margin-bottom: 16px;

    .spaceTitle {
      @include m.flex(flex-start);
      @include m.fontH4SemiBold;
      gap: 2px;
      color: var(--c-black);

      > button {
        @include m.flex;
        width: 28px;
        height: 28px;
      }
    }

    .time {
      @include m.fontCaption;
      grid-area: 2/1/3/3;
      color: var(--c-gray-600);
    }
  }

  .content {
    @include m.fontBody1Regular;
    color: var(--c-black);
    white-space: pre-wrap;
  }

  .answerWrapper {
    @include m.flex(flex-start, flex-start, column);
    width: 100%;
    padding: 0 16px 12px;
    margin-top: 16px;
    background-color: var(--c-orange-bg);
    border-radius: 12px;

    .answerTitleWrapper {
      @include m.flex(flex-start);
      @include m.fontCaption;
      gap: 12px;
      width: 100%;
      height: 40px;
      color: var(--c-gray-600);
    }

    .answer {
      @include m.fontBody1Regular;
      color: var(--c-black);
      white-space: pre-wrap;
    }
  }
}
