@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  position: static;
  padding-right: c.$S_PAGE_HORIZONTAL_PADDING;
  padding-left: c.$S_PAGE_HORIZONTAL_PADDING;
  transform: none;
}
