@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.link {
  display: inline-block;
  width: 100%;
  height: c.$S_MAIN_CAROUSEL_HEIGHT;

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .textWrapper {
      @include m.flex(flex-end, flex-start, column);
      @include m.posCenterX;
      bottom: 0;
      gap: 14px;
      width: 100%;
      padding: c.$S_PAGE_HORIZONTAL_PADDING 28px;

      > h2 {
        @include m.fontH1;
        color: var(--c-white);
      }

      > p {
        @include m.fontH4Regular;
        color: var(--c-white);
      }
    }
  }
}
