@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.refundMessageWrapper {
  width: 100%;
  padding: 20px c.$S_PAGE_HORIZONTAL_PADDING 0;

  .refundMessage {
    @include m.fontCaptionSemiBold;
    padding: 12px 8px;
    color: var(--c-roof-orange);
    background-color: var(--c-orange-bg);
    border-radius: 4px;
  }
}

.cancelWrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  h2 {
    @include m.fontH3SemiBold;
    margin-bottom: 16px;
    color: var(--c-black);
  }

  p {
    @include m.fontBody1SemiBold;
    color: var(--c-gray-500);
  }
}

.refundPriceInfoWrapper {
  width: 100%;
  padding: 32px c.$S_PAGE_HORIZONTAL_PADDING;
  margin-top: 32px;
  background-color: var(--c-orange-bg);

  h2 {
    @include m.fontH3SemiBold;
    margin-bottom: 8px;
    color: var(--c-black);
  }
}

.refundPriceInfo {
  margin-top: 32px;
}
