@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  ol {
    @include m.flex(flex-end, flex-start, column);
    gap: 10px;
    width: 100%;
    padding-left: 20px;
    margin-top: 16px;

    li {
      @include m.fontBody1Regular;
      color: var(--c-gray-800);
      list-style: decimal outside;
    }
  }
}
