@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 6px;
  width: 100%;
  padding-right: c.$S_PAGE_HORIZONTAL_PADDING;
  margin-bottom: 12px;

  li {
    width: 128px;
    height: 128px;

    a {
      width: 100%;
      height: 100%;
    }

    &:first-of-type {
      margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
    }
  }
}
