@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 36px c.$S_PAGE_HORIZONTAL_PADDING;

  .titleWrapper {
    @include m.flex(space-between);
    gap: 12px;
    width: 100%;
    margin-bottom: 4px;

    h2 {
      @include m.fontH3SemiBold;
      @include m.makeEllipsis;
      flex: 1;
      color: var(--c-black);
    }
  }

  .desc {
    @include m.fontCaption;
    color: var(--c-gray-500);
  }

  .list {
    @include m.flex(flex-start, flex-start, column);
    gap: 16px;
    width: 100%;
    padding-top: 24px;
  }
}
