@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  flex: 1;
  width: 100%;

  .footer {
    @include m.fixed(auto auto 0 50%);
    width: 100%;
    max-width: c.$S_CONTENT_WIDTH;
    padding: 16px c.$S_PAGE_HORIZONTAL_PADDING;
    background-color: var(--c-white);
    transform: translateX(-50%);
  }
}
