@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.absolute(32px 32px auto auto);
  color: var(--c-gray-600);
  background-color: transparent;
  border: 0;
  outline: none;
}
