@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  .backgroundImageWrapper {
    @include m.posCenter;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > main {
    @include m.posCenter;
    @include m.flex(flex-start, center, column);
    width: 100%;
    height: 100%;
    padding: 25% c.$S_PAGE_HORIZONTAL_PADDING 10%;

    .backButton {
      @include m.absolute(56px 20px auto auto);
      @include m.fontH4Regular;
      color: var(--c-gray-300);
      cursor: pointer;
    }

    .slogan {
      @include m.fontH4Regular;
      margin-top: 26px;
      color: var(--c-gray-200);
    }
  }
}
