@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 4px;
  cursor: pointer;

  .checkboxWrapper {
    @include m.flex;
    width: 24px;
    height: 24px;

    .checkbox {
      @include m.flex;
      width: 16px;
      height: 16px;
      background-color: var(--c-white);
      border: 1.3px solid var(--c-gray-500);
      border-radius: 1.3px;

      > svg {
        @include m.filterGray500;
      }
    }
  }

  .children {
    @include m.fontBody1SemiBold;
    color: var(--c-gray-500);
  }

  &:has(.children) {
    padding-left: 4px;
  }

  &:not(.isGray):has(input:checked) {
    .checkbox {
      background-color: var(--c-roof-orange);
      border: 0;

      > svg {
        filter: none;
      }
    }

    .children {
      color: var(--c-roof-orange);
    }
  }

  &.isGray {
    .checkbox {
      background-color: var(--c-gray-250);
      border-color: transparent;

      > svg {
        filter: none;
      }
    }

    &:has(input:checked) {
      .checkbox {
        background-color: var(--c-roof-orange);
        border: 0;
      }
    }

    .children {
      color: var(--c-gray-900);
    }
  }
}
