@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  gap: 4px;
  cursor: pointer;

  .checkbox {
    @include m.flex;
    width: 16px;
    height: 16px;
    background-color: var(--c-white);
    border: 1.3px solid var(--c-gray-400);
    border-radius: 1.3px;

    > svg {
      @include m.filterGray400;
    }
  }

  .children {
    @include m.fontBody1Regular;
    color: var(--c-gray-600);
  }

  &:has(.children) {
    padding-left: 4px;
  }

  &:has(input:checked) {
    .checkbox {
      background-color: var(--c-roof-orange);
      border: 0;

      > svg {
        filter: none;
      }
    }
  }
}
