@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-end);
  position: relative;
  gap: 8px;
  width: 100%;
  margin-bottom: 40px;

  .inputWrapper {
    flex: 1;

    > input {
      width: 100%;
    }
  }

  > button {
    width: max-content;
  }

  .errorMessage {
    @include m.absolute(calc(100% + 4px) auto auto 0);
    @include m.fontCaptionLh170;
    color: var(--c-roof-orange);
  }
}
