@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  position: relative;
  width: 62px;
  height: 32px;
  background-color: var(--c-gray-400);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;

  .circle {
    @include m.absolute(50% auto auto 30px);
    width: 28px;
    height: 28px;
    background-color: var(--c-white);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transform: translate(-100%, -50%);
  }

  &.checked {
    background-color: var(--c-roof-orange);

    .circle {
      left: calc(100% - 2px);
    }
  }
}
