@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING 44px;

  .item {
    width: 100%;
    padding: c.$S_PAGE_HORIZONTAL_PADDING 0;

    & + .item {
      border-top: 1px solid var(--c-gray-200);
    }
  }
}
