@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100%;
  padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

  h1 {
    @include m.fontH1;
    margin-bottom: 40px;
    color: var(--c-gray-900);
  }
}
