@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 20px c.$S_PAGE_HORIZONTAL_PADDING 0;

  .transport {
    @include m.fontCaption;
    margin-bottom: 4px;
    color: var(--c-gray-500);
  }

  .title {
    @include m.fontH1;
    margin-bottom: 4px;
    color: var(--c-black);
  }

  .info {
    @include m.flex(flex-start);
    gap: 4px;
    margin-bottom: 20px;
  }

  ul {
    @include m.flex(flex-start, flex-start);
    gap: 8px;
    margin-bottom: 8px;
    overflow-x: hidden;

    li {
      @include m.fontCaption;
      @include m.flex;
      width: max-content;
      padding: 8px 12px;
      color: var(--c-gray-700);
      white-space: nowrap;
      background-color: var(--c-gray-100);
      border-radius: 8px;
    }
  }

  .desc {
    @include m.fontBody1Regular;
    @include m.makeEllipsis(4);
    color: var(--c-gray-900);
  }
}
