@mixin filterRoofOrange {
  filter: brightness(0) saturate(100%) invert(30%) sepia(81%) saturate(3098%) hue-rotate(353deg) brightness(101%)
    contrast(84%);
}

@mixin filterGray700 {
  filter: brightness(0) saturate(100%) invert(41%) sepia(3%) saturate(91%) hue-rotate(98deg) brightness(90%)
    contrast(91%);
}

@mixin filterGray900 {
  filter: brightness(0) saturate(100%) invert(9%) sepia(12%) saturate(18%) hue-rotate(325deg) brightness(92%)
    contrast(90%);
}
