@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  width: 100%;

  h2 {
    @include m.flex(flex-start);
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING;

    .starRatingItem > span {
      @include m.fontH3SemiBold;
      margin-left: 2px;
    }

    .reviewCount {
      @include m.flex(flex-start);

      &::before {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 8px;
        content: "";
        background-color: var(--c-gray-600);
        border-radius: 50%;
      }
    }
  }

  .reviewList {
    width: 100%;

    > li::before {
      display: inline-block;
      width: calc(100% - 2 * c.$S_PAGE_HORIZONTAL_PADDING);
      height: 2px;
      margin: 24px 0;
      margin-left: c.$S_PAGE_HORIZONTAL_PADDING;
      content: "";
      background-color: var(--c-gray-150);
    }

    > li:first-of-type::before {
      margin-top: 16px;
    }
  }
}
