@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex;
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_HEADER;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_BASE_HEADER_HEIGHT;
  padding: 18px calc(40px + c.$S_PAGE_HORIZONTAL_PADDING / 2) 10px;
  background-color: var(--c-white);
  border-bottom: 1px solid var(--c-gray-200);
  transform: translateX(-50%);

  .backButton {
    @include m.absolute(50% auto auto calc(c.$S_PAGE_HORIZONTAL_PADDING / 2));
    @include m.flex;
    width: 40px;
    height: 40px;
    transform: translateY(calc(-50% + 4px));
  }

  .title {
    @include m.fontH3SemiBold;
    color: var(--c-black);
  }
}
