@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 100%;
  padding: c.$S_PAGE_HORIZONTAL_PADDING;
  border-bottom: 1px solid var(--c-gray-200);

  h2 {
    @include m.fontH4SemiBold;
    margin-bottom: 24px;
    color: var(--c-gray-600);
  }
}
