@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_HEADER;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_BASE_HEADER_HEIGHT;
  padding: 10px c.$S_PAGE_HORIZONTAL_PADDING;
  transform: translateX(-50%);

  nav {
    button,
    a {
      display: inline-block;
      width: 44px;
      height: 44px;
    }
  }

  &.breakpoint {
    .alarmIcon::after {
      background-color: var(--c-roof-orange);
      opacity: var(--opacity);
    }

    svg {
      @include m.filterGray900;
      opacity: var(--opacity);
    }

    & > button > svg {
      @include m.filterRoofOrange;
    }
  }

  &.backgroundBreakpoint {
    background-color: rgba(255, 255, 255, var(--background-opacity));
    border-bottom: 2px solid rgba(245, 245, 245, var(--background-opacity));
  }
}
