@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.oneRowWrapper {
  @include m.fontH4Regular;
  color: var(--c-gray-600);

  > span {
    @include m.fontH4SemiBold;
    margin-left: 4px;
    color: var(--c-roof-orange);
  }

  &.small {
    @include m.fontBody1Regular;

    > span {
      @include m.fontBody1SemiBold;
    }
  }
}

.twoRowsWrapper {
  @include m.flex(flex-start, flex-end, column);
  gap: 4px;

  .firstRow {
    @include m.fontH4SemiBold;
    color: var(--c-gray-500);

    > span {
      margin-left: 4px;
      color: var(--c-roof-orange);
    }
  }

  .secondRow {
    @include m.fontH4Regular;
    color: var(--c-gray-500);

    > span {
      margin-left: 4px;
    }
  }

  &.small {
    .firstRow {
      @include m.fontBody1SemiBold;
    }

    .secondRow {
      @include m.fontBody1Regular;
    }
  }
}
