@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_HEADER;
  width: 100%;
  max-width: c.$S_CONTENT_WIDTH;
  height: c.$S_BASE_HEADER_HEIGHT;
  padding: 54px calc(c.$S_PAGE_HORIZONTAL_PADDING / 2) 10px;
  background-color: var(--c-white);
  transform: translateX(-50%);

  .backButton {
    margin-right: 8px;
  }

  .title {
    @include m.fontH3SemiBold;
    @include m.makeEllipsis;
    flex: 1;
    color: var(--c-black);
  }

  .title + * {
    margin-left: auto;
  }

  &.backHidden {
    padding-right: c.$S_PAGE_HORIZONTAL_PADDING;
    padding-left: c.$S_PAGE_HORIZONTAL_PADDING;
  }
}
